*{
    padding: 0;
    margin: 0;
    background: linear-gradient(to right bottom, #d870e6, #c79ed1);
}

.goBack {
    width: 100px;
    height: 30px;
    margin-left: 600px;
    border-radius: 5px;
    background: white;
}

.goBack h2 {
    color: #9a09ad;
    background: none;
    text-align: center;
}

.goBack h2:hover {
    color: #d870e6;
    cursor: pointer;
}

.container {
    margin-left: 200px;
    margin-top: -100px;
    width: 1000px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    background: linear-gradient(to right top, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
    border-radius: 20px;
}

.levels {
    display: relative;
    background: none;
    justify-content: baseline;
}
    
#level1 {
    margin-left: -200px;
    margin-top: 30px;
    background: url(assets/carro3.png) no-repeat center;
    width: 50px;
    height: 50px;
}

#level2 {
    margin-left: 50px;
    margin-top: -50px;
    background: url(assets/mario2.png) no-repeat center;
    width: 50px;
    height: 50px;
}

.levels p {
    background: none;
    margin-left: 70px;
    margin: -10px;
    color: #9a09ad;
}

.levels p:hover {
    cursor: pointer;
}

.title {
    background: none;
    border-radius: 20px;
    margin-left: 650px;
    margin-top: 100px;
    display: flex;
    z-index: 2;
}

.title h1 {
    color: #9a09ad;
    background: none;
    text-align: center;
}

.score {
    display: relative;
    margin-left: 600px;
    margin-bottom: 250px;
    height: 100px;
    width: 200px;
    border-radius: 10px;
    color: white;
    align-items: center;
}

.game{
    background: url(assets/back2.jpg) no-repeat center;
    display: relative;
    width: 600px;
    height: 220px;
    margin-top: 100px;
    border: 1px solid black;
    }

#foguete{
    background: url(assets/foguete3.png) no-repeat center;
    width: 90px;
    height: 80px;
    position:relative;
    top: 140px;
    margin-left: 40px;
}
.animate{
    animation: jump 300ms linear;
}
@keyframes jump{
    0%{top: 80px;}
    30%{top: 30px;}
    70%{top: 20px;}
    100%{top: 80px;}
}

#asteroide{
    background: url(assets/asteroide3.png) no-repeat center;
    width: 50px;
    height: 50px;
    position: relative;
    top: 90px;
    left: 550px;
    animation: asteroide 500ms infinite linear;
}
@keyframes asteroide{
    0%{left: 550px}
    100%{left: -20px}
}

